### Data Mining Lab 2

In [2]:
import pandas as pd
import numpy as np
import sklearn

Convert CSV to dataframe

In [3]:
df = pd.read_csv("data/london-borough-profiles-jan2018.csv", encoding='unicode_escape')
df.head()

,Code,New code,Area name,Inner/ Outer London,GLA Population Estimate 2017,GLA Household Estimate 2017,Inland Area (Hectares),Population density (per hectare) 2017,"Average Age, 2017","Proportion of population aged 0-15, 2015",...,Happiness score 2011-14 (out of 10),Anxiety score 2011-14 (out of 10),Childhood Obesity Prevalance (%) 2015/16,People aged 17+ with diabetes (%),Mortality rate from causes considered preventable 2012/14,Political control in council,Proportion of seats won by Conservatives in 2014 election,Proportion of seats won by Labour in 2014 election,Proportion of seats won by Lib Dems in 2014 election,Turnout at 2014 local elections
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000001,E09000001,City of London,Inner London,8800.0,5326.0,290,30.3,43.2,11.4,...,6.0,5.6,NaN,2.6,129.0,.,.,.,.,.
2,E09000002,E09000002,Barking and Dagenham,Outer London,209000.0,78188.0,"3,611",57.9,32.9,27.2,...,7.1,3.1,28.5,7.3,228.0,Lab,0,100,0,36.5
3,E09000003,E09000003,Barnet,Outer London,389600.0,151423.0,"8,675",44.9,37.3,21.1,...,7.4,2.8,20.7,6.0,134.0,Cons,50.8,.,1.6,40.5
4,E09000004,E09000004,Bexley,Outer London,244300.0,97736.0,"6,058",40.3,39.0,20.6,...,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0,39.6

In [4]:
print(df.columns)

Index(['Code', 'New code', 'Area name', 'Inner/ Outer London',
       'GLA Population Estimate 2017', 'GLA Household Estimate 2017',
       'Inland Area (Hectares)', 'Population density (per hectare) 2017',
       'Average Age, 2017', 'Proportion of population aged 0-15, 2015',
       'Proportion of population of working-age, 2015',
       'Proportion of population aged 65 and over, 2015',
       'Net internal migration (2015)', 'Net international migration (2015)',
       'Net natural change (2015)',
       '% of resident population born abroad (2015)',
       'Largest migrant population by country of birth (2011)',
       '% of largest migrant population (2011)',
       'Second largest migrant population by country of birth (2011)',
       '% of second largest migrant population (2011)',
       'Third largest migrant population by country of birth (2011)',
       '% of third largest migrant population (2011)',
       '% of population from BAME groups (2016)',
       '% people aged 3+ whose main language is not English (2011 Census)',
       'Overseas nationals entering the UK (NINo), (2015/16)',
       'New migrant (NINo) rates, (2015/16)',
       'Largest migrant population arrived during 2015/16',
       'Second largest migrant population arrived during 2015/16',
       'Third largest migrant population arrived during 2015/16',
       'Employment rate (%) (2015)', 'Male employment rate (2015)',
       'Female employment rate (2015)', 'Unemployment rate (2015)',
       'Youth Unemployment (claimant) rate 18-24 (Dec-15)',
       'Proportion of 16-18 year olds who are NEET (%) (2014)',
       'Proportion of the working-age population who claim out-of-work benefits (%) (May-2016)',
       '% working-age with a disability (2015)',
       'Proportion of working age people with no qualifications (%) 2015',
       'Proportion of working age with degree or equivalent and above (%) 2015',
       'Gross Annual Pay, (2016)', 'Gross Annual Pay - Male (2016)',
       'Gross Annual Pay - Female (2016)',
       'Modelled Household median income estimates 2012/13',
       '% adults that volunteered in past 12 months (2010/11 to 2012/13)',
       'Number of jobs by workplace (2014)',
       '% of employment that is in public sector (2014)', 'Jobs Density, 2015',
       'Number of active businesses, 2015',
       'Two-year business survival rates (started in 2013)',
       'Crime rates per thousand population 2014/15',
       'Fires per thousand population (2014)',
       'Ambulance incidents per hundred population (2014)',
       'Median House Price, 2015',
       'Average Band D Council Tax charge (Â£), 2015/16',
       'New Homes (net) 2015/16 (provisional)',
       'Homes Owned outright, (2014) %',
       'Being bought with mortgage or loan, (2014) %',
       'Rented from Local Authority or Housing Association, (2014) %',
       'Rented from Private landlord, (2014) %',
       '% of area that is Greenspace, 2005', 'Total carbon emissions (2014)',
       'Household Waste Recycling Rate, 2014/15',
       'Number of cars, (2011 Census)',
       'Number of cars per household, (2011 Census)',
       '% of adults who cycle at least once per month, 2014/15',
       'Average Public Transport Accessibility score, 2014',
       'Achievement of 5 or more A*- C grades at GCSE or equivalent including English and Maths, 2013/14',
       'Rates of Children Looked After (2016)',
       '% of pupils whose first language is not English (2015)',
       '% children living in out-of-work households (2015)',
       'Male life expectancy, (2012-14)', 'Female life expectancy, (2012-14)',
       'Teenage conception rate (2014)',
       'Life satisfaction score 2011-14 (out of 10)',
       'Worthwhileness score 2011-14 (out of 10)',
       'Happiness score 2011-14 (out of 10)',
       'Anxiety score 2011-14 (out of 10)',
       'Childhood Obesity Prevalance (%) 2015/16',
       'People aged 17+ with diabetes (%)',
       'Mortality rate from causes considered preventable 2012/14',
       'Political control in council',
       'Proportion of seats won by Conservatives in 2014 election',
       'Proportion of seats won by Labour in 2014 election',
       'Proportion of seats won by Lib Dems in 2014 election',
       'Turnout at 2014 local elections'],
      dtype='object')

Create new dataframe containing the target values

In [5]:
new_df = df[['Male life expectancy, (2012-14)','Female life expectancy, (2012-14)']].copy()

Check contents of columns of new dataset

In [6]:
column1 = new_df['Male life expectancy, (2012-14)']
column2 = new_df['Female life expectancy, (2012-14)']

print(column1)
print(column2)

0      NaN
1        .
2     77.6
3     82.1
4     80.4
5     80.1
6     81.4
7     81.8
8     80.3
9     80.6
10    80.7
11      79
12    78.5
13    79.7
14    80.1
15    82.7
16    80.2
17    80.4
18      80
19      79
20    83.3
21      82
22    78.9
23      79
24    80.4
25    78.5
26    80.9
27    82.4
28    78.9
29    80.9
30    78.1
31    79.4
32    79.5
33    82.3
Name: Male life expectancy, (2012-14), dtype: object
0      NaN
1        .
2     82.1
3     85.1
4     84.4
5     85.1
6     84.9
7     86.7
8     83.6
9     84.2
10    84.1
11    82.5
12    83.3
13    84.1
14    84.9
15    86.1
16    83.9
17    83.9
18    83.9
19    83.5
20    86.4
21    84.6
22    83.3
23    83.4
24    84.2
25      83
26    84.6
27      86
28    83.9
29    83.4
30    82.5
31    83.8
32    83.7
33    86.3
Name: Female life expectancy, (2012-14), dtype: object

Remove dots from dataset

In [7]:
new_df = new_df.dropna()
# new_df['Male life expectancy, (2012-14)'].replace('.', '')
# new_df['Female life expectancy, (2012-14)'].replace('.', '')
new_df['Male life expectancy, (2012-14)'] = new_df['Male life expectancy, (2012-14)'].replace('.', '')
new_df['Female life expectancy, (2012-14)'] = new_df['Female life expectancy, (2012-14)'].replace('.', '')

In [22]:
print(new_df['Male life expectancy, (2012-14)'])

1
2     77.6
3     82.1
4     80.4
5     80.1
6     81.4
7     81.8
8     80.3
9     80.6
10    80.7
11      79
12    78.5
13    79.7
14    80.1
15    82.7
16    80.2
17    80.4
18      80
19      79
20    83.3
21      82
22    78.9
23      79
24    80.4
25    78.5
26    80.9
27    82.4
28    78.9
29    80.9
30    78.1
31    79.4
32    79.5
33    82.3
Name: Male life expectancy, (2012-14), dtype: object

In [24]:
import matplotlib.pyplot as plt

# plt.scatter(new_df['Male life expectancy, (2012-14)'], new_df['Female life expectancy, (2012-14)'])

print(new_df['Male life expectancy, (2012-14)'].min())

x = new_df['Male life expectancy, (2012-14)']
y = new_df['Female life expectancy, (2012-14)']

# xmin = 0.95 * min( new_df['Male life expectancy, (2012-14)'] )
# xmax = 1.05 * max( new_df['Male life expectancy, (2012-14)'] )
# ymin = 0.95 * min( new_df['Female life expectancy, (2012-14)'] )
# ymax = 1.05 * max( new_df['Female life expectancy, (2012-14)'] )

# plt.xlim((xmin, xmax))
# plt.ylim((ymin, ymax))

# # add plot labels and ticks
# plt.xticks( fontsize=14 )
# plt.yticks( fontsize=14 )
# plt.ylabel('Age (Women)', fontsize=14)
# plt.xlabel('Age (Men)', fontsize=14)

# # save plot
# plt.show()

In [ ]:
from sklearn import model_selection

x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.10)